@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;1,400&display=swap');

.text-xs {
  font-size: .75rem;
}

.text-s {
  font-size: .85rem;
}

.text-regular {
  font-size: 1rem;
}

.text-m {
  font-size: 1.25rem;
}

.text-l {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 2.5rem;
}
